sudo: false
language: objective-c
xcode_project: ripe.xcodeproj
xcode_scheme: test
xcode_sdk: iphonesimulator
osx_image: "xcode8"
env:
  - secure: YzE/4saaVKYGZz3NaNLeHJ3xHGHdo4XiVC4lesV3DbqKVODvta+RJpIC3uctMQcJJyWee5ubihLYWcu05pqdgpCTmTNACI/U1/xydXZFvhCxFRkMhTeoyqKL9N/aYytb2UPzHE2O/f1s279MAogLuAxmJHlUOIr3RcAS62xF33OwDPgqYjLJtJtE4ZQU7iaEVfrPkNuTELvfLs0QZONI46jhoLUsp3SueGbcboWF/riRZ748ZDe/oh+NNL/DO/dgL2G7NubvWRIsmY4AM4SIpbaL1C560W/YGkG86v9WX1q1YmPSpoPZIIwfeqiifkhzO7Ecw2/s/ipTLqh8XB0CCP2OBbNkcglmeMlxjS/Gr7cbUGWIbzWm6W4dv4CeUwnOg8QOEfgQL2btO6eZJM7kl0GAEhCqtHO9UlopW7RZse3nGoS591QLTuQ4qrsoAOKdcGjL2d0/jrUr9IxmNaBlawDLjvM/RvOZv3/WrRUVZMnIItC0LWF22wCD7DAbSQ3wg+wc0upH18f+uGKeEYyYmYBA59THW4W27+lRvtS5HKJcvAnTBcD9tvxj6n0CN3O2Xca9Q3VpcX31ioFwZbjS7WSDfw2kWj8/RoDWIlUJc76Bujj+EZg8qkApzSZCWbzN+dizfSkWLNOmD+tVdO+cy8tvDBR7JQiXapV6fJ4zTsY=
deploy:
  provider: script
  script: ./scripts/push.sh
  on:
    tags: true
    osx_image: "xcode8"
