<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>--ignore</key>
	<array>
		<string>examples</string>
		<string>test</string>
		<string>*.m</string>
	</array>
	<key>--output</key>
	<string>./docs/</string>
	<key>--project-company</key>
	<string>Platforme</string>
	<key>--project-name</key>
	<string>Ripe-SDK-iOS</string>
	<key>--company-id</key>
	<string>com.platforme</string>
	<key>--keep-undocumented-objects</key>
	<true/>
	<key>--keep-undocumented-members</key>
	<true/>
	<key>---search-undocumented-doc</key>
	<true/>
	<key>--create-docset</key>
	<false/>
	<key>--create-html</key>
	<true/>
	<key>--install-docset</key>
	<false/>
	<key>--verbose</key>
	<string>4</string>
	<key>--logformat</key>
	<integer>1</integer>
	<key>--keep-intermediate-files</key>
	<true/>
	<key>--warn-empty-description</key>
	<true/>
	<key>--repeat-first-par</key>
	<false/>
</dict>
</plist>
