/**** docs/docs/docsets/Platforme.docset/Contents/Resources/Documents/css/jazzy.css ***/
html, body, div, span, h1, h3, h4, p, a, code, em, img, ul, li, table, tbody, tr, td {
    background: transparent;
    border: none;
    margin: 0px 0px 0px 0px;
    outline: 0;
    -o-outline: 0;
    -ms-outline: 0;
    -moz-outline: 0;
    -khtml-outline: 0;
    -webkit-outline: 0;
    padding: 0px 0px 0px 0px;
    vertical-align: baseline;
}

body {
    background-color: #f2f2f2;
    font-family: Helvetica, freesans, Arial, sans-serif;
    font-size: 14px;
    font-smoothing: subpixel-antialiased;
    -o-font-smoothing: subpixel-antialiased;
    -ms-font-smoothing: subpixel-antialiased;
    -moz-font-smoothing: subpixel-antialiased;
    -khtml-font-smoothing: subpixel-antialiased;
    -webkit-font-smoothing: subpixel-antialiased;
    word-wrap: break-word;
}

h1, h2, h3 {
    color: black;
    font-weight: 100;
    margin-bottom: 0.3em;
    margin-top: 0.8em;
}

h1 {
    font-size: 2.5em;
}

h2 {
    border-bottom: 1px solid #e2e2e2;
    font-size: 2em;
}

h4 {
    font-size: 13px;
    line-height: 1.5;
    margin-top: 21px;
}

h5 {
    font-size: 1.1em;
}

h6 {
    color: #777777;
    font-size: 1.1em;
}

.section-name {
    color: gray;
    display: block;
    font-family: Helvetica;
    font-size: 22px;
    font-weight: 100;
    margin-bottom: 15px;
}

pre, code {
    color: #777777;
    font: 0.95em Menlo, monospace;
    word-wrap: normal;
}

p code, li code {
    background-color: #eeeeee;
    border-radius: 4px 4px 4px 4px;
    -o-border-radius: 4px 4px 4px 4px;
    -ms-border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -khtml-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    padding: 2px 4px 2px 4px;
}

a {
    color: #0088cc;
    text-decoration: none;
}

ul {
    padding-left: 15px;
}

li {
    line-height: 1.8em;
}

img {
    max-width: 100%;
}

blockquote {
    border-left: 4px solid #cccccc;
    margin-left: 0;
    padding: 0 10px 0 10px;
}

.content-wrapper {
    margin: 0 auto 0 auto;
    width: 980px;
}

header {
    background-color: #414141;
    font-size: 0.85em;
    line-height: 26px;
    position: fixed;
    width: 100%;
    z-index: 1;
}

header img {
    height: 16px;
    padding-right: 6px;
    vertical-align: -4px;
}

header a {
    color: #ffffff;
}

header p {
    color: #999999;
    float: left;
}

header .header-right {
    float: right;
    margin-left: 16px;
}

#breadcrumbs {
    background-color: #f2f2f2;
    height: 27px;
    margin-top: 26px;
    padding-top: 17px;
    position: fixed;
    width: 100%;
    z-index: 1;
}

#breadcrumbs #carat {
    height: 10px;
    margin: 0 5px 0 5px;
}

.sidebar {
    background-color: #f9f9f9;
    border: 1px solid #e2e2e2;
    bottom: 0px;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    top: 70px;
    width: 230px;
    word-wrap: normal;
}

.nav-groups {
    background: #ffffff;
    list-style-type: none;
    padding-left: 0;
}

.nav-group-name {
    border-bottom: 1px solid #e2e2e2;
    font-size: 1.1em;
    font-weight: 100;
    padding: 15px 0 15px 20px;
}

.nav-group-name > a {
    color: #333333;
}

.nav-group-tasks {
    margin-top: 5px;
}

.nav-group-task {
    font-size: 0.9em;
    list-style-type: none;
    white-space: nowrap;
}

.nav-group-task a {
    color: #888888;
}

.main-content {
    background-color: #ffffff;
    border: 1px solid #e2e2e2;
    margin-left: 246px;
    overflow: hidden;
    padding-bottom: 20px;
    position: absolute;
    top: 70px;
    width: 734px;
}

.main-content p, .main-content a, .main-content code, .main-content em, .main-content ul, .main-content table, .main-content blockquote {
    margin-bottom: 1em;
}

.main-content p {
    line-height: 1.8em;
}

.main-content section .section:first-child {
    margin-top: 0;
    padding-top: 0;
}

.main-content section .task-group-section .task-group:first-of-type {
    padding-top: 10px;
}

.main-content section .task-group-section .task-group:first-of-type .section-name {
    padding-top: 15px;
}

.main-content section .heading:before {
    content: "";
    display: block;
    margin: -70px 0 0;
    padding-top: 70px;
}

.section {
    padding: 0 25px 0 25px;
}

.highlight {
    background-color: #eeeeee;
    border: 1px solid #e2e2e2;
    border-radius: 4px 4px 4px 4px;
    -o-border-radius: 4px 4px 4px 4px;
    -ms-border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -khtml-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    overflow-x: auto;
    padding: 10px 12px 10px 12px;
}

.declaration .highlight {
    background-color: transparent;
    border: none;
    margin-bottom: -25px;
    overflow-x: initial;
    padding: 0 40px 40px 0;
}

.section-name {
    margin: 0px 0px 0px 0px;
    margin-left: 18px;
}

.task-group-section {
    border-top: 1px solid #e2e2e2;
    padding-left: 6px;
}

.task-group {
    padding-top: 0px;
}

.task-name-container a[name]:before {
    content: "";
    display: block;
    margin: -70px 0 0;
    padding-top: 70px;
}

.item {
    list-style-type: none;
    padding-top: 8px;
    width: 100%;
}

.item a[name]:before {
    content: "";
    display: block;
    margin: -70px 0 0;
    padding-top: 70px;
}

.item code {
    background-color: transparent;
    padding: 0px 0px 0px 0px;
}

.item .token, .item .direct-link {
    font-size: 11.9px;
    margin-left: 15px;
    padding-left: 3px;
}

.item .discouraged {
    text-decoration: line-through;
}

.item .declaration-note {
    color: gray;
    font-size: .85em;
    font-style: italic;
}

.pointer-container {
    border-bottom: 1px solid #e2e2e2;
    left: -23px;
    padding-bottom: 13px;
    position: relative;
    width: 110%;
}

.pointer {
    background: #f9f9f9;
    border-left: 1px solid #e2e2e2;
    border-top: 1px solid #e2e2e2;
    height: 12px;
    left: 21px;
    position: absolute;
    top: -7px;
    transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -khtml-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 12px;
}

.height-container {
    display: none;
    left: -25px;
    overflow: hidden;
    padding: 0 25px 0 25px;
    position: relative;
    width: 100%;
}

.height-container .section {
    background: #f9f9f9;
    border-bottom: 1px solid #e2e2e2;
    left: -25px;
    padding-bottom: 5px;
    padding-top: 10px;
    position: relative;
    width: 100%;
}

.aside, .language {
    border-left: 5px solid #dddddd;
    margin: 12px 0 12px 0;
    overflow-y: hidden;
    padding: 6px 12px 6px 12px;
}

.aside .aside-title, .language .aside-title {
    color: #aaaaaa;
    font-size: 9px;
    letter-spacing: 2px;
    margin: 0px 0px 0px 0px;
    padding-bottom: 0;
    text-transform: uppercase;
    user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.aside p:last-child, .language p:last-child {
    margin-bottom: 0;
}

.language {
    border-left: 5px solid #cde9f4;
}

.language .aside-title {
    color: #4b8afb;
}

.aside-warning, .aside-deprecated, .aside-unavailable {
    border-left: 5px solid #ff6666;
}

.aside-warning .aside-title, .aside-deprecated .aside-title, .aside-unavailable .aside-title {
    color: #ff0000;
}

.graybox {
    border-collapse: collapse;
    width: 100%;
}

.graybox p {
    margin: 0px 0px 0px 0px;
    min-width: 50px;
    word-break: break-word;
}

.graybox td {
    border: 1px solid #e2e2e2;
    padding: 5px 25px 5px 10px;
    vertical-align: middle;
}

.graybox tr td:first-of-type {
    padding: 7px 7px 7px 7px;
    text-align: right;
    vertical-align: top;
    width: 40px;
    word-break: normal;
}

.slightly-smaller {
    font-size: 0.9em;
}

#footer {
    bottom: 0px;
    margin-left: 25px;
    position: relative;
    top: 10px;
}

#footer p {
    color: #aaaaaa;
    font-size: 0.8em;
    margin: 0px 0px 0px 0px;
}

html.dash header, html.dash #breadcrumbs, html.dash .sidebar {
    display: none;
}

html.dash .main-content {
    border: none;
    margin-left: 0;
    padding-bottom: 0;
    top: 0px;
    width: 100%;
}

html.dash .height-container {
    display: block;
}

html.dash .item .token {
    margin-left: 0;
}

html.dash .content-wrapper {
    width: auto;
}

html.dash #footer {
    position: static;
}
